---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { title, url, author, pubDate, description, image, titleInside = false } = Astro.props;
---

<a href={translatePath(url)} title={title} class="group">
	<article class="relative flex h-full flex-1 flex-col overflow-hidden rounded-lg">
		<div
			class:list={[
				"article-overlay relative block w-full overflow-hidden lg:col-span-2",
				titleInside ? "article-gradient-overlay-bottom" : "article-gradient-overlay",
			]}>
			<Image class="relative aspect-[384/246] h-full w-full bg-center object-cover" src={image} alt={title} />
		</div>
		<div
			class={`flex w-full flex-1 flex-col items-start justify-between  ${
				titleInside ? "absolute bottom-0 text-white p-12" : "text-black pt-4 md:p-2 md:pt-6"
			}`}>
			<div class="w-full">
				<div>
					<p class="font-mono text-lg font-medium uppercase tracking-wide lg:text-xl">
						{title}
					</p>
				</div>
				<p class={`mt-2 line-clamp-3 text-base  ${titleInside ? "text-slate-200" : "text-slate-600"}`}>
					{description}
				</p>
			</div>
			<footer>
				<div class="mt-6 inline-flex items-center space-x-1">
					<p class={`text-xs font-medium ${titleInside ? "text-slate-200" : "text-slate-900"}`}>
						{author.name}
					</p>
					<span aria-hidden="true">&middot;</span>
					<div class={`flex text-xs ${titleInside ? "text-slate-300" : "text-slate-500"}`}>
						<time datetime="2020-03-16">{pubDate}</time>
					</div>
				</div>
			</footer>
		</div>
	</article>
</a>

<style>
	.article-overlay,
	.article-overlay img {
		border-radius: inherit;
	}
	.article-overlay.article-gradient-overlay {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
	}
	.article-overlay.article-gradient-overlay-bottom {
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 50%);
	}
	.article-overlay:before {
		content: "";
		border-radius: inherit;
		filter: url(#article-noise-filter);
		opacity: 0.5;
		z-index: 10;
		@apply absolute bottom-0 left-0 right-0 top-0 rounded-lg;
	}
</style>
