---
import { type CollectionEntry } from "astro:content";

import EntriesOne from "@/components/blog/Entry.astro";
import Title from "@components/global/Title.astro";

interface Props {
	tag: string;
	posts: CollectionEntry<"posts">;
}

const { tag, posts } = Astro.props as Props;
---

<section>
	<div class="mx-auto px-8 py-24 md:px-12 lg:pt-32 2xl:max-w-7xl">
		<div class="py-10">
			<Title title={tag} subtitle="tag" class="pb-10 pt-20 uppercase" />
		</div>
		<ul class="mt-12 grid grid-cols-1 gap-x-3 gap-y-24 sm:grid-cols-2 lg:mt-24 lg:grid-cols-3 lg:gap-x-6">
			{
				posts.map((post) => (
					<EntriesOne
						url={"/blog/" + post.slug}
						title={post.data.title}
						description={post.data.description}
						alt={post.data.title}
						pubDate={post.data.pubDate.toString().slice(0, 10)}
						author={post.data.author}
						image={post.data.image.source}
					/>
				))
			}
		</ul>
	</div>
</section>
