---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { image, project, link, description, class: className } = Astro.props;
---

<li class:list={["flex flex-col", className]}>
	<a href={translatePath(link)} aria-label={`Project ${project}`}>
		<Image class="h-[25rem] rounded-md object-cover lg:rounded-lg" src={image} alt={project} />
	</a>
	<div class="px-2 py-8">
		<a href={translatePath(link)} class="flex items-center justify-between text-base font-medium lg:gap-x-8">
			<h3 class="font-mono text-lg font-medium uppercase tracking-wide md:mt-0 lg:text-xl">
				{project}
			</h3>
			<span class="text-right text-base hover:text-primary-700">
				<span class="hidden lg:inline-block">{t("projects.see")}</span>
				<span class="sr-only">{project}</span> &nbsp; &rarr;
			</span>
		</a>
		{description && <p class="mt-8 line-clamp-2 text-sm text-slate-500">{description}</p>}
	</div>
</li>
